
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: antiquewhite;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "header header"
    "sidebar main"; 
}


    /* header section */
.header{
    text-align: center;
    grid-area: header;
    /* border-bottom: 1px solid black; */
    box-shadow:1px 1px 2px black;
    background-color: rgb(170, 182, 147);
    
}


    /* sidebar section */
.sidebar{
    grid-area: sidebar;
    padding:15px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    border-right: 1px solid black;

}

.sidebar > div:not(#priority){
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    cursor: pointer;
}

.number{
    width: 20px;
    background-color: rgb(255, 230, 0);
    border-radius: 10px;
    height: 20px;
    text-align: center;
}

#add-task{
    margin-top: auto;
    background-color: aqua;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0px rgb(39, 108, 113);
}

#add-task > img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}


    /* main content section */
.main{
    grid-area: main;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.task{
    display: flex;
    /* width: inherit; */
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right,rgba(39, 108, 113,0.7),rgba(170, 182, 147));
}

.task > *{
    display: flex;
    gap: 10px;
}

.task button{
    background-color: rgba(39, 108, 113,0.8);
    border: none;
    border-radius: 5px;
    padding: 0px 3px;
    /* color: whitesmoke; */
    cursor: pointer;
}

.task img{
    width: 20px;
    height: 18px;
}

.task > * > :not(p){
    cursor: pointer;
}


#add-task-main{
    margin: 10px auto;
}

dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 5px 20px;
    background-color: rgb(170, 182, 147);
    border: none;
    box-shadow: 1px 1px 1px rgb(83, 93, 63);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog > div{
    display: flex;
    flex-direction: column;
    /* font-size: 2rem; */
}

dialog > div > div:not(:last-child){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

dialog > div > div:last-child{
    display: flex;
    justify-content: space-around;
}

dialog button{
    color:rgb(56, 31, 1);
}

dialog input,dialog textarea{
    width: 20rem;
}

.noteDiv{
    min-width: 6rem;
    min-height: 6rem;
}

.noteDiv h1{
    border-bottom: 1px solid black;
}

.noteDiv p{
    max-inline-size: 70ch;
    overflow-wrap: break-word;
    hyphens: manual;
    /* overflow: hidden; */
    /* text-overflow:ellipsis; */
    /* max-width: 30ch; */
}



.detailsDialog > div{
    display: flex;
    gap: 2px;
    flex-direction: row;
    /* justify-content: space-between; */
}

.detailsDialog > h1{
    text-align: center;
}


.detailsDialog > div > p:first-child {
    min-width:6rem;
    border-right: 1px solid rgb(50, 44, 4);
    border-radius: 2px;
    /* margin: 2px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 1px;
    color: darkgreen;
}

.detailsDialog > div > p:last-child {
    min-width:6rem;
    border-top: 1px solid rgb(50, 44, 4);
    border-radius: 2px;
    /* margin: 2px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 1px;
}